 <nav>
  <div>
    <div>
      <img src="../assets/red-bus image.avif" alt="Tedbus logo">
    </div>
    <div></div>
    <div>
      <a>
        <svg>

        </svg>
        <p>Bus Ticket</p>
      </a>
      <a>
        <svg>

        </svg>
        <p>Cab Rental</p>
      </a>
      <a>
        <svg>

        </svg>
        <p>Train Ticket</p>
      </a>
    </div>
  </div>
  <div>
    <a>
      <i></i>
      <p>Help</p>
    </a>
    <button>
      <i></i>
      <p>Account</p>

    </button>
  </div>
 </nav>